body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ffc63f;
}

.title {
  font-size: 2.25rem;
  margin: 0.625rem 0;
  padding: 0;
  color: #141c3a;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

#demo {
  text-align: center;
  font-size: 1.125rem;
  margin-top: 0.9375rem;
  color: #141c3a;
  letter-spacing: 1px;
  font-style: italic;
}

.piano {
  width: 19.0625rem;
  height: 13.125rem;
  display: block;
  margin: 0 auto;
  background-color: #fd4d3f;
  margin-top: 1.875rem;
}

.key {
  width: 1.875rem;
  height: 12.5rem;
  display: inline-block;
  border: 2px solid #141c3a;
  box-shadow: 2px 5px;
  background-color: white;
  color: #141c3a;
}

.black-key {
  width: 1.5625rem;
  height: 6.25rem;
  display: inline-block;
  background-color: #141c3a;
  color: white;
  position: absolute;
  margin-left: -12px;
  padding: 0;
}

.keynote {
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 10.9375rem;
}

.black-keynote {
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 4.6875rem;
}

#lyrics {
  width: 25rem;
  height: 15rem;
  display: block;
  margin: 0 auto;
  padding-left: 1.25rem;
  margin-top: 3.125rem;
  background-color: #fd4d3f;
}

#column-one,
#column-two,
#column-three,
#column-four,
#column-five,
#column-six,
#column-optional {
  width: 5.625rem;
  display: inline-block;
  text-align: center;
  margin-top: 1.875rem;
}

#column-optional {
  display: none;
}

#word-one,
#word-two,
#word-three,
#word-four,
#word-five,
#word-six,
#word-optional {
  background-color: white;
  width: 5.625rem;
  height: 1.5625rem;
  padding-top: 10px;
  letter-spacing: 5px;
  color: #141c3a;
}

#letter-note-one,
#letter-note-two,
#letter-note-three,
#letter-note-four,
#letter-note-five,
#letter-note-six,
#letter-note-optional {
  color: white;
  width: 1.5625rem;
  height: 1.5625rem;
  margin: 0.9375rem 2.1875rem;
}

#first-next-line,
#second-next-line,
#third-next-line,
#fourth-next-line {
  width: 5rem;
  height: 2.1875rem;
  font-size: 1rem;
  position: absolute;
  margin: 1.875rem 0.625rem;
  border: none;
  background-color: #ffc63f;
  color: #141c3a;
  letter-spacing: 1px;
  cursor: pointer;
}

#first-next-line,
#second-next-line,
#third-next-line,
#fourth-next-line:hover {
  background-color: #141c3a;
  color: white;
}
